## Settings file was created by plugin Hitbox Fix v1.3.0
## Plugin GUID: hitbox.fix

[General]

## Nexus mod ID for updates
# Setting type: Int32
# Default value: 727
NexusID = 727

[Modify height (0.6 default, 1 mod default)]

## Height
# Setting type: Single
# Default value: 1
height = 1

[Modify offset]

## Offset
# Setting type: Single
# Default value: 0
offset = 0

