## Settings file was created by plugin Locator v1.0.8
## Plugin GUID: purps.valheim.locator

[AutoPin]

## Enables entity auto-pinning.
# Setting type: Boolean
# Default value: true
pinEnabled = true

## The allowed distance between two entities for auto-pinning.
# Setting type: Single
# Default value: 30
pinDistance = 30

## How close the to the entity the player must be for it to be auto-pinned.
# Setting type: Single
# Default value: 25
pinRayDistance = 10

## Toggles the pinning of destructible items.
# Setting type: Boolean
# Default value: true
pinDestructibles = true

## Toggles the pinning of mineable rocks.
# Setting type: Boolean
# Default value: true
pinMineRocks = true

## Toggles the pinning of dungeons, caves, altars, runestones, etc.
# Setting type: Boolean
# Default value: true
pinLocations = true

## Toggle the pinning of plants and fungi
# Setting type: Boolean
# Default value: true
pinPickables = true

## Toggles the pinning of spawners.
# Setting type: Boolean
# Default value: true
pinSpawners = true

## Toggles the pinning of boss runestones.
# Setting type: Boolean
# Default value: true
pinVegvisirs = true

## Toggles the pinning of leviathans.
# Setting type: Boolean
# Default value: true
pinLeviathans = true

[General]

## Prints useful information to configure your own pinnable item types.
# Setting type: Boolean
# Default value: false
debug = false

[Inclusions]

## Inclusion list for destructible items.
# Setting type: String
# Default value: 
destructibleInclusions = {silvervein,Ar,true}{rock3_silver,Silver,true}{MineRock_Tin,Tin,true}{rock4_copper,Cu,true}{MineRock_Obsidian,Ob,true}

## Inclusion list for minable rocks.
# Setting type: String
# Default value: 
mineRockInclusions = {MineRock_Meteorite,Meteorite,true}

## Inclusion list for locations.
# Setting type: String
# Default value: 
locationInclusions = {DrakeLorestone,DRune,true}{TrollCave,TCave,true}{Crypt,Crypt,true}{SunkenCrypt,SCrypt,true}{Grave,MCrypt,true}{DrakeNest,Egg,true}{Runestone,Rune,true}{Eikthyrnir,Eikthyr,true}{GDKing,Elder,true}{Bonemass,Masse d\'Os,true}{Dragonqueen,Moder,true}{GoblinKing,Yakult,true}

## Inclusion list for pickable items.
# Setting type: String
# Default value: 
pickableInclusions = {BlueberryBush,BB,true}{CloudberryBush,PB,true}{RaspberryBush,RB,true}{Pickable_Barley,O,true}{Pickable_Flax,L,true}{Pickable_Thistle,CH,true}{Pickable_Mushroom,MR,true}{Pickable_SeedCarrot,C,true}{Pickable_Dandelion,DL,true}{Pickable_SeedTurnip,N,true}

## Inclusion list for spawners.
# Setting type: String
# Default value: 
spawnerInclusions = {Spawner,Spawn,true}

## Inclusion list for boss runestones.
# Setting type: String
# Default value: 
vegvisirInclusions = {Vegvisir,Vegvisir,true}

## Inclusion list for leviathans.
# Setting type: String
# Default value: 
leviathanInclusions = {Leviathan,Leviathan,true}

[Pins]

## Default pin filters.
# Setting type: String
# Default value: 
filterPins = 

